html,
a:visited {
  color: #8b5d33;
}

body {
  background-color: #bbe1c3;
  margin: 0;
}

header {
  margin: 0 auto;
  height: 50px;
  background-color: #869d7a;
}

nav {
  height: 100%;
}

nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

header ul li {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  float: left;
  width: 50%;
}

header ul li a {
  font-size: 25px;
  text-decoration: none;
}

header ul li a:hover {
  font-weight: 700;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  text-align: center;
}

#start {
  background-color: #869d7a;
  height: 50px;
  width: 120px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  text-align: center;
  margin: 50px auto;
  height: 500px;
  width: 80%;
  display: none;
}

#timer {
  font-size: 20px;
  width: 100%;
  height: 30px;
}

.question-container {
  padding-top: 15px;
  width: 100%;
  height: 20%;
}

.question {
  font-size: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.choices {
  height: 80%;
}

.choice {
  border: 3px solid #d38a6e;
  height: 20%;
  margin-top: 16px;
}

.choice-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.score {
  margin: 130px auto;
  width: 50%;
  padding: 30px;
  text-align: center;
  border: 5px solid black;
  display: none;
}

#title {
  font-size: 70px;
  margin-top: 60px;
  text-align: center;
}

.scores-display {
  background-color: darkgoldenrod;
  width: 90%;
  margin: auto;
}

#initials-container,
#scores-container,
#dates-container {
  height: 100px;
  width: 30%;
  margin-right: 3%;
  float: left;
}

#initials-list,
#scores-list,
#dates-list {
  padding: 0;
  list-style: none;
  width: 100%;
  margin-left: 0;
}

#initials-list li,
#scores-list li,
#dates-list li {
  font-weight: 550;
  text-align: center;
  height: 70px;
  width: 100%;
}
